.vscode
*.cross.o
start*
**/config/devices.yaml
**/dist/
*.log
targets/arm64
dump/
**.env
!example.env
**/lib/*
**/models/*
!**/lib/.gitkeep
notes.md
roadmap.md
ideas.md
**/targets/
**/certs/

# Build artifacts
**/target/
**/*.rs.bk

# OS specific files
.DS_Store